@model IEnumerable<DataService.InventoryManagement.IssuedItem>

@{
    ViewBag.Title = "Index"; 
  Layout = "~/Views/Shared/_InvLayoutPage.cshtml";
}
<style type='text/css'>
    
    td:nth-child(2){text-align: right;}
    td:nth-child(4){text-align: right;}
    td:nth-child(7){text-align: right;}
</style>
<h2>Index</h2>
<h4></h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssuedTo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrgId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemMaster.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssuedTo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemMaster.Name)
        </td>

    </tr>
}

</table>
