@using X.Scaffolding.Core
@model DataService.EvaluationCycle
<script src="~/Scripts/bootstrap-datepicker.js"></script>
@*<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-datepicker3.css" rel="stylesheet" />
@functions{
    
    public string formatDate(DateTime? datetime)
    {
        if (datetime.HasValue)
        {
            return datetime.Value.Month.ToString().PadLeft(2, '0') + "/" + datetime.Value.Day.ToString().PadLeft(2, '0') + "/" + datetime.Value.Year.ToString();
        }
        else
            return "";
    }
}
<form class="form-horizontal" id="pecycleform">
    <div id="dialog-form" class="modal fade panel-default " title="Start PE"
         @*style="display:none;width:400px;background:white; border-radius: 5px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);padding:5px!important;"*@>
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="signup-header" class="modal-header panel-heading">
                    <h2>New PE Cycle</h2>
                    <p>Create a new PE cycle.</p>
                    <a class="modal_close" href="#"></a>
                </div>

                <div class="modal-body panel-body">

                    <fieldset>

                        <h4 for="pename">PE Name</h4>
                        <div class="floatleft input-group">
                            <span class="input-group-addon"><span class="fa fi-pencil"></span></span>
                            <input type="text" name="pename" id="pename" class="form-control" value="@Model.Title">
                        </div>

                        <h4 for="description">Description</h4>

                        <div class=" floatleft input-group">
                            <span class="input-group-addon"><span class="fa fi-pencil"></span></span>
                            <input type="text" name="description" id="description" class="form-control" value="@Model.Description">
                        </div>
                        <h4>Goal Setting </h4>
                        <div class="floatleft">
                            <div>
                                <label for="goalstart">Starts On</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fi-calendar"></span></span>
                                    <input type="text" name="goalstart" id="goalstart" data-provide="datepicker" class="form-control" data-autoclose=true data-date="@formatDate(Model.GoalStartDate)" value="@formatDate(Model.GoalStartDate)">
                                </div>
                            </div>
                            <div>
                                <label for="goalend">Ends On </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fi-calendar"></span></span>
                                    <input type="text" name="goalend" id="goalend" data-provide="datepicker" class="form-control datepicker" value="@formatDate(Model.GoalEndDate)">
                                </div>
                            </div>
                        </div>
                        <h4>Evaluation:</h4>
                        <div class="floatleft">
                            <div>
                                <label for="evaluationstart"> Starts On </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fi-calendar"></span></span>
                                    <input type="text" name="evaluationstart" id="evaluationstart" data-provide="datepicker" class="form-control datepicker" value="@formatDate(Model.EvaluationStart)">
                                </div>
                            </div><div>
                                <label for="evaluationend">Ends On </label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="fa fi-calendar"></span></span>
                                    <input type="text" name="evaluationend" id="evaluationend" data-provide="datepicker" class="form-control datepicker" value="@formatDate(Model.EvaluationEnd)">
                                </div>
                            </div>
                        </div>
                        <!-- Allow form submission with keyboard without duplicating the dialog button -->
                        <input type="hidden" name="evalcycleid" value="@Model.Id" />
                    </fieldset>


                </div>
                <div class="panel-footer">
                    &nbsp;<button type="submit" id="btnCreatePE" class="btn btn-primary pull-right" value="Start" tabindex="-1" onclick="return validatePEParams();">Start</button>&nbsp;
                    <button type="submit" class="btn btn-default  pull-right" value="Cancel" onclick=" $('#dialog-form').modal('hide'); return false;" tabindex="-1">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</form>
        <script>
            var retVal = true;
            function validatePEParams() {
                retVal = true;
                var peObj = {};
                $("#btnCreatePE").attr("disabled", "disabled");
                $("#pecycleform").find("input:text").each(function (i, o) {
                    param = $(o).attr("id");
                    eval("peObj." + param + " = '" + $(o).val() + "'");
                });
                
                eval("peObj.evalcycleid = @Model.Id");
                
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/controlcenter/validatepe")",
                    async: false,
                    data: peObj,
                    success: function (r) {
                        if (r.pecount > 0) {
                            alert("This is a duplicate PE. Please set another date.");
                            retVal = false;
                        }
                        if (r.pecount == -1) {
                            alert("This PE's " + r.newphase + " overlaps with an existing cycle's " + r.existingphase);
                            retVal = false;
                        }
                        if (r.pecount == -2) {
                            alert(r.newphase);
                            retVal = false;
                        }

                    }
                });
             //   if (!retVal)
                    $("#btnCreatePE").removeAttr("disabled");

                return retVal;

            }

            function parseDate(input) {
                var parts = input.split(" ")[0].split('-');
                alert(input.split(" ")[0]);
                // new Date(year, month [, day [, hours[, minutes[, seconds[, ms]]]]])
                return new Date(parts[2], parts[1] - 1, parts[0]); // Note: months are 0-based
            }

            $(document).ready(function () {
                $("#pecycleform").on("submit", function (event) {
                    event.preventDefault();
                    $.post("@Url.Content("~/controlCenter/StartPECycle")", $("#pecycleform").serialize(), function () {
                        $("#dialog-form").modal("hide");
                    });
                });

                setTimeout(function () { $(".datepicker").datepicker("autoclose", true); }, 1000);

                $("#goalstart").datepicker().on("changeDate", function (selected) {
                    startDate = new Date(selected.date.valueOf());
                    startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                    $('#goalend').datepicker('setStartDate', startDate);
                });

                $("#evaluationstart").datepicker().on("changeDate", function (selected) {
                    startDate = new Date(selected.date.valueOf());
                    startDate.setDate(startDate.getDate(new Date(selected.date.valueOf())));
                    $('#evaluationend').datepicker('setStartDate', startDate);
                });

                $(".datepicker").datepicker().on("show", function (e) {
                    datetime = $(e.target).val();
                    
                  //  $(e.target).datepicker("update", new Date(parseDate(datetime)));
                    //if ($.trim(e.target.val()) != "")
                    //{
                    //    console.log(this);
                    //    this.setDate(new Date(e.target.prop("value")));
                    //}
                });
            });

        </script>
<style>
    .modal_close {
        background: rgba(0, 0, 0, 0) url("../img/modal_close.png") repeat scroll 0 0;
        display: block;
        height: 14px;
        position: absolute;
        right: 12px;
        top: 12px;
        width: 14px;
        z-index: 2;
    }
     .floatleft label, .floatleft div, .floatleft input {
        float: left;
    }

    .floatleft div {
        width: 150px;
        padding-right: 20px;
    }

    .floatleft {
        clear: both;
    }
     #dialog-form fieldset label {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        margin-bottom: 5px;
    }

    #dialog-form button {
        margin-left: 10px;
    }

    #dialog-form h4 {
        float: left;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 5px;
        margin-top: 10px;
        clear:left;
    }
    #dialog-form {
    padding-left:5px!important;
    padding-top:5px!important;
    padding-right:5px!important;
    padding-bottom:5px!important;
    color:white;
    height:564px!important;
    }
    #signup-header * {
        color:white;
    }
    input [type='text'] {
        background: #f7f7f7 none repeat scroll 0 0;
        border-color: #ccc #e7e6e6 #e7e6e6 #ccc;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        color: #222;
        font-family: "Helvetica Neue";
        font-size: 1.2em;
        outline: medium none;
        padding: 8px;
        width: 244px;
    }
     .form-control {
        background: #f9f9f9 none repeat scroll 0 0 !important;
        border: 1px solid #d5d5d5 !important;
        box-shadow: none !important;
        font-size: 12px !important;
        height: 30px !important;
        line-height: 18px !important;
    }
      .panel-default .panel-footer {
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        -moz-border-right-colors: none;
        -moz-border-top-colors: none;
        background: #f5f5f5 none repeat scroll 0 0;
        border-color: #e3e3e3 -moz-use-text-color -moz-use-text-color;
        border-image: none;
        border-style: solid none none;
        border-width: 1px 0 0;
        line-height: 30px;
        padding: 10px;
    }

    .panel-default .panel-heading, .panel-default .panel-footer, .panel-default .panel-body {
        float: left;
        width: 100%;
    }
    .floatleft > div {
    width: 50% !important;
}
    .floatleft .input-group {
    clear:left;
    width:100%;
    }
    #dialog-form p, #dialog-form h2 {
    margin-bottom:0px;
    }
</style>