@using X.Scaffolding.Core
@using PagedList.Mvc;
@model PagedList.IPagedList<DataService.FeedbackQuestion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_2Col_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success create" })
</p>
<table class="table table-hover">
    <tr>
        <th>Question</th>
        <th>OrgId</th>
        <th class="controls-head"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrgId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }, new { @class = "btn btn-xs btn-info edit" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId }, new { @class = "btn btn-xs btn-danger delete" })
        </td>
    </tr>
}

</table>


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))