@using X.Scaffolding.Core
@model DataService.Employee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_2Col_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.gid)

        <div class="form-group">
			<label class="control-label col-md-2">
            FirstName
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.FirstName)                 
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            LastName
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.LastName)                 
                @Html.ValidationMessageFor(model => model.LastName)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Department
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.Department)                 
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Manager
            </label>
			<div class="col-md-10">
                @Html.BootstrapDropDownList("manager","")                 
                @Html.ValidationMessageFor(model => model.Manager)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Email
            </label>
			<div class="col-md-10">
                @Html.BootstrapEmailEditorFor(model => model.Email)                 
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Phone
            </label>
			<div class="col-md-10">
                @Html.BootstrapPhoneEditorFor(model => model.Phone)                 
                @Html.ValidationMessageFor(model => model.Phone)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Base Location :
            </label>
			<div class="col-md-10">
                @Html.BootstrapDropDownList("OrgLocationId", String.Empty)                 
                @Html.ValidationMessageFor(model => model.OrgLocationId)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Active
            </label>
			<div class="col-md-10">
                @Html.CheckBoxFor(model => model.Active)                 
                @Html.ValidationMessageFor(model => model.Active)
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">
                Role
            </label>
            <div class="col-md-10">
                @Html.BootstrapDropDownList("UserRoles", "")

            </div>
        </div>
        @*<div class="form-group">
			<label class="control-label col-md-2">
            UserId
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.UserId)                 
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>*@

        <div class="form-group">
			<label class="control-label col-md-2">
            Designation
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.Designation)                 
                @Html.ValidationMessageFor(model => model.Designation)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            DoJ
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.DoJ)                 
                @Html.ValidationMessageFor(model => model.DoJ)
            </div>
        </div>

        @*<div class="form-group">
			<label class="control-label col-md-2">
            ProfilePix
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.ProfilePix)                 
                @Html.ValidationMessageFor(model => model.ProfilePix)
            </div>
        </div>*@

        <div class="form-group">
			<label class="control-label col-md-2">
            Employee Code
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.OrgEmpId)                 
                @Html.ValidationMessageFor(model => model.OrgEmpId)
            </div>
        </div>

        @*<div class="form-group">
			<label class="control-label col-md-2">
            LocationId
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.LocationId)                 
                @Html.ValidationMessageFor(model => model.LocationId)
            </div>
        </div>*@

        <div class="form-group">
			<label class="control-label col-md-2">
            Mobile
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.Mobile)                 
                @Html.ValidationMessageFor(model => model.Mobile)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            FirstTime
            </label>
			<div class="col-md-10">
                @try
                { 
                @Html.CheckBoxFor(model => model.FirstTime.Value)
                }
                catch
                {
                    @Html.CheckBoxFor(model => model.FirstTime.HasValue)

                }
                @Html.ValidationMessageFor(model => model.FirstTime)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            DoB
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.DoB)                 
                @Html.ValidationMessageFor(model => model.DoB)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Gender
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.Gender)                 
                @Html.ValidationMessageFor(model => model.Gender)
            </div>
        </div>

        <div class="form-group">
			<label class="control-label col-md-2">
            Employee Type
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.EmpType)                 
                @Html.ValidationMessageFor(model => model.EmpType)
            </div>
        </div>

        @*<div class="form-group">
			<label class="control-label col-md-2">
            LastVisit
            </label>
			<div class="col-md-10">
                @Html.BootstrapTextBoxFor(model => model.LastVisit)                 
                @Html.ValidationMessageFor(model => model.LastVisit)
            </div>
        </div>*@

        <div class="form-group">
			<label class="control-label col-md-2">
            Reviewer
            </label>
			<div class="col-md-10">
                @Html.BootstrapDropDownList("ReviewerList",string.Empty)                 
                @Html.ValidationMessageFor(model => model.Reviewer)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
