@using System.Collections;
@using DataService;
@model Hashtable
@{
    ViewBag.Title = "My Team";
    Layout = "~/Views/Shared/_2Col_Layout.cshtml";
}
<script>
    var selectedmenuid = "team";

</script>
<link href="~/Content/owl.carousel.css" rel="stylesheet" />
<link href="~/Content/owl.theme.css" rel="stylesheet" />
<script src="~/Scripts/owl.carousel.min.js"></script>
@if (Model.Count > 0)
{
    <div id="myteam" class="row">
        <div class="large-12 columns " style="text-align:center;">

            <div class=" panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title-box">
                        <h3 class="panel-title">
                            @if (ViewBag.CurrentReportee.OrgEmpId== ViewBag.Me.OrgEmpId)
                            {
                            <text>
                                My Team :
                            </text>
                            }
                            else
                            {
                            <text>
                                @(ViewBag.CurrentReportee.FirstName)'s Team :
                            </text>
                            }

                        </h3>

                    </div>


                </div>
                @{
                    int locationcounter=0;
                }
                <ul class="nav nav-tabs">
                    @foreach(var loc in Model.Keys)
                    {

                    <li @(locationcounter==0?"class=active":"" )><a data-toggle="tab" href="#Location_@(locationcounter)">@loc</a></li>
                        locationcounter++;
                        }
                </ul>
                @{
                     locationcounter=0;
                }
                <div class="tab-content">
                    @foreach (var loc in Model.Keys)
                    {
                        <div class="tab-pane fade  @(locationcounter==0?"in active":"" )"  id="Location_@(locationcounter++)">
                            <div class="panel-body ">
                                <div class="pecyclelisttitle">Currently active cycle(s) in @loc :</div>
                                <ul class="pecycleslist">
                                    @foreach (DataService.EvaluationCycle evc in (List<DataService.EvaluationCycle>)ViewBag.LocationCycles[loc])
                                    { 
                                        <li>@evc.Title  @(string.IsNullOrEmpty(evc.Description) ? "" : " - " + evc.Description) <span style="font-weight:bold;color:blue;">@evc.GetPhase()</span> <i style="font-size:10px;">(@evc.EvaluationEnd.Value.Subtract(DateTime.Now).Duration().Days Day (s) @evc.EvaluationEnd.Value.Subtract(DateTime.Now).Duration().Hours Hr (s) left.)</i></li>
                                    }
                                </ul>
                                <ul id="teammembers" class="owl-carousel">
                                    @foreach (Guid u in ((Hashtable)Model[loc]).Keys)
                        {
                            DataService.EmployeeExtended emp = ((Hashtable)Model[loc])[u] as DataService.EmployeeExtended;
                            if (emp.gid.ToString() == ((DataService.Employee)ViewBag.Me).gid.ToString())
                            {
                                continue;
                            }
                                    <li class="badgeable" onmouseover="switchimage(this)" onmouseout="switchimage(this)">
                                        <span id="mainbadgecount_@u.ToString().ToLower()" class="custombadge"></span>

                                        <a href="@Url.Content("~/goals?")reporteeid=@u.ToString().ToLower()">
                                            @*'@u.ToString().ToLower()'*@
                                            @if(emp.ProfilePix==null || emp.ProfilePix.Count()==0)
                                    {
                                            <img class="tooltips" title="" data-uid="@u.ToString().ToLower()" src="@Url.Content("~/images/follower-man-user-login-round-512.png")" style="width:100px" />
                                    }
                                    else
                                    {

                                            <img class="tooltips actualphoto" title="" data-uid="@u.ToString().ToLower()" src="@(@"data:image/png;base64," + Convert.ToBase64String(emp.ProfilePix))" style="width:100px;" />
                                    }

                                        </a>
                                        <br />
                                        @emp.FirstName @emp.LastName
                                        <br />
                                        @if (emp.HasReportees) {
                                        <a class="btn btn-sm  btn-default" href="~/employee?gid=@u.ToString().ToLower()">Reportees</a>
                                }
                                        <a class="btn btn-sm  btn-default" href="@Url.Content("~/goals?")reporteeid=@u.ToString().ToLower()">Goals</a>
                                    </li>
                        }

                                </ul>
                                <div style="width:100%; text-align:center; padding-top:5px;">You can click each team members photo/icon above to view his/her goals.</div>
                            </div>
                        </div>

                    }
                </div>


            </div>
        </div>
    </div>
}
    @*<div class="row middlerow">
            <div class="columns large-3 " style="text-align:center;">
                <div class="card-plain" style="vertical-align:middle;">
                    <h4>Today is: </h4>
                    <img src="~/Images/calendar.PNG" />
                    <h4>@DateTime.Today.ToLongDateString()</h4>
                </div>
            </div>

            <div class="columns large-2 " style="text-align:center;">
                <div class="card-plain">
                    <h4>My Goals</h4>
                    <a href="javascript:void(0)" onclick="loadEmployeeGoals('@ViewBag.Me.gid')">

                        <img src="~/Images/mytarget.PNG" /><br /> Click to see your goals.
                    </a>
                </div>
            </div>

            <div class="large-7 columns   end" id="ActionItems">
                <div class="card-plain" style="padding-left:50px;">
                    <h4>Action Items</h4>
                    <div style="display:inline-block; float:left;">
                        <img src="~/Images/tasks.PNG" id="actionitems" style="float:left;" />
                    </div>
                    <div style="display:inline-block;float:left;">
                        <ol>
                            <li>Loading...</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>*@
    <div class="row" style="display:none;">

        <div class="columns large-12 ">
            <div class="card-plain" id="maincontent"></div>
        </div>

    </div>
    <style>
        .pecyclelisttitle {
            font-family:Arial;
            font-weight:600;
        }
        .pecycleslist {
        list-style:none;

        }
        #teammembers {
            list-style: none;
            font-size: 12px;
            display: inline-block;
        }

            #teammembers li {
                /*float: left;*/
                display: inline-block;
                padding: 20px;
                margin-right: 25px;
            }

            #teammembers .owl-wrapper div.owl-item li.badgeable {
                float: none;
            }

        #ActionItems ul li {
            list-style: decimal;
            color: gray;
        }

        #ActionItems {
        }
    </style>
    <script>
        function switchimage(obj) {
            var imgUser = $(obj).find("img");
            if (imgUser.hasClass("actualphoto"))
                return;
            var imgsrc = imgUser.attr("src");
            if (imgsrc.toLowerCase().indexOf("_inv") < 0) {
                imgsrc = imgsrc.toLowerCase().replace(".png", "_inv.png");
            }
            else {
                imgsrc = imgsrc.toLowerCase().replace("_inv.png", ".png");
            }
            imgUser.attr("src", imgsrc);

        }
        function loadEmployeeGoals(eid) {
            $.get('@Url.Content("~/goals?")reporteeid=' + eid, function (response) {
                $("#maincontent").html(response);
                //window.scrollTo(0, $("#maincontent").offset().top)
            });

        }
        function GetBadges() {
            $.get('@Url.Content("~/employee/getmyteambadges")', function (badges) {
                //$("#ActionItems ol").html("");
                $.each(badges, function (i, o) {
                    $("#mainbadgecount_" + o.eid.toLowerCase()).html(o.badgecount).fadeIn("slow");
                    $("#mainbadgecount_" + o.eid.toLowerCase()).attr("title", o.tooltip);
                    //  $("#ActionItems ol").append("<li>" + o.tooltip + "</li>").fadeIn("slow");
                });
                try {
                    //$("#ActionItems ol").css("list-style-type", "decimal");
                    //if (badges.length == 0) {
                    //    $("#ActionItems ol").html("<li>There are no actionable items for you.</li>");
                    //    $("#ActionItems ol").css("list-style-type", "none");
                    //}
                } catch (x) { }
                setTimeout(GetBadges, 5000);
            });
        }
        $(document).ready(function () {



            //$("#teammembers").owlCarousel(
            //    {
            //        items: 4,
            //        itemsDesktop: 4,
            //        itemsDesktopSmall:3,
            //        itemsTablet: 2,
            //        itemsTabletSmall: 1,
            //        itemsMobile: 1,
            //        navigation: true
            //    }
            //    );



            window.resizeBy(1, 0);
            GetBadges();
            @*@if (ViewBag.reporteeid != null && !string.IsNullOrEmpty(ViewBag.reporteeid))
            {
                <text>
                    loadEmployeeGoals('@ViewBag.reporteeid');
                    $("#maincontent").closest(".row").fadeIn("slow");
                </text>
            }
            else
            {
                <text>
                    $.get('@Url.Content("~/goals")', function (response) {
                        if (response == null || response == "")
                            $("#maincontent").closest(".row").hide();
                        else {
                            $("#maincontent").html(response);
                            $("#maincontent").closest(".row").fadeIn("slow");
                        }
                    });
                </text>
            }*@



            starttour("employeemyteam");

        });
    </script>
    <style>
        .middlerow .columns .card-plain {
            min-height: 245px !important;
        }

            .middlerow .columns .card-plain h4 {
                text-align: center;
            }

        .chart {
            text-align: center;
        }

        .knob-label {
            color: #333;
            font-size: 12px;
            font-weight: 100;
            margin-bottom: 0.3em;
            text-align: center;
        }


        #ActionItems {
            /*height: 191px !important;*/
            overflow-y: auto;
        }
    </style>
